.header {
	background-color: #262626;
	text-align: center;
	font-size: 25px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
	
}

body {
    margin: 0;
    padding:0;
	background-color: #17171d;
	color: whitesmoke;
	font-family: "SF-Pro-Text-Regular";
	
}

@font-face{
	font-family:"SF-Pro-Text-Regular";
	src: url("../../webfonts/SF-Pro-Text-Regular.otf");
}
@font-face{
	font-family:"SF-Pro-Text-Light";
	src: url("../../webfonts/SF-Pro-Text-Light.otf");
}

@font-face{
	font-family:"SF-Pro-Text-Heavy";
	src: url("../../webfonts/SF-Pro-Text-Heavy.otf");
}
@font-face{
	font-family:"SF-Pro-Text-Semibold";
	src: url("../../webfonts/SF-Pro-Text-Semibold.otf");
}

input{
	width: 40px;

}


#sendvote {
}
#votingbooth {
}
#votingauthority {
}
#inputp {
}
#inputq {
}
#menu {
}
